.home-page {
    background-color: #D8B785;

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    // max-height: 100%;
  }

  h1 {
    color: #fff;
    font-size: 70px;
    margin: 0;
    // font-family: ;
    font-weight: 400;

    img {
      width: 52px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
}

h2 {
    color: #fffdfd;
    margin-top: 20px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
    font-family: 'Smooch Sans', sans-serif;
}

.flat-button {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Smooch Sans', sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #fff;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    transition: 0.3s;
    white-space: nowrap;
    
    &:hover {
        background-color: #a43838;
    }
}
