body {
  margin: 0;
  /* font-family: 300 11px/1.4 'Ibarra Real Nova', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  overflow: hidden;
  display: block;
}

html {
  font-size: 62.5%;
}